.input-logo{
    width:2rem;
    padding:0.3rem;
  }
  .portal-cont{
    background: #102457;
    border: 20px solid #102457;
    border-radius: 30px;
    width:fit-content;
    padding:2rem 5rem;
    margin:auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
  }
  
  .head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
  }
  .input-field{
    border:0px;
    padding: 0.3rem;
    width:14rem;
    border-radius: 0px 7px 7px 0px;
  }
  .input-group{
    
    display:flex;
    flex-direction: row;
    background-color: #ffff;
    width: fit-content;
    margin-bottom: 0.8rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }
  .form-group{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    width:10vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .prim{
    background: #ffffff;
    color:#102457;
  }
  .button-container{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
  }