*{
  font-family: 'Inter';
  font-style: normal;
}
.input-logo{
  width:2rem;
  padding:0.3rem;
}

.portal-container{
  background: #D9D9D9;
  border: 20px solid #D9D9D9;
  border-radius: 30px;
  width:fit-content;
  padding:2rem 5rem;
  margin:auto;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}

.header{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: #102457;
}
.subheader{
  margin-top:0.3rem;
  font-family: 'Inter';
  font-style:italic;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}
.input-field{
  border:0px;
  padding: 0.3rem;
  width:14rem;
  border-radius: 0px 7px 7px 0px;
}
.input-form{
  border:0px;
  padding: 0.3rem;
  width:14rem;
  border-radius: 7px;
}
.input-group{  
  display:flex;
  flex-direction: row;
  background-color: #ffff;
  width: fit-content;
  margin-bottom: 0.8rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.form-group{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  width:10vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
}
.primary{
  background: #102457;
color:#ffff;
}
.button-container{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.button:hover{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.radio-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.space{
  width: 0.2rem;
}
.radio-label{
  margin-right: 1rem !important;
}
table {
  border-collapse: collapse !important;
}
td {
  font-size: 0.8rem;
}
th {
  font-size: 0.8rem;
  font-weight: 600;
}

table,
tr,
td, th {
  border: none;
}

th, td{
  padding: 0px !important;
  padding-bottom: 0.4rem !important;
 
}

.section-title{
  font-size: 1.2rem;
  font-weight: 600;
}

.section-subtitle{
  font-size:0.8rem;
  font-style: italic;
}

.section-table{
  margin-right: 15vw;
}

.section{
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding:1rem;
  background-color: #FFFFFF;
}
.his-header{
  color:#102457
}
.his-button{
  background: #FFFFFF;
  border: 0.5px solid rgba(16, 36, 87, 0.5);
  border-radius: 5px;
}

